<h1><%=@user.name%></h1>
<h4>Griminess: <%=@user.griminess%>
<h3>Grimes</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Griminess</th>
    </tr>
    <%@user.grimes.each do |g|%>
        <tr>
            <td><%=g.title%></td>
            <td><%=g.description%></td>
            <td><%=g.griminess%></td>
        </tr>
    <%end%>
</table>
